.main {
    width: 100vw;
    height: 100vh;
    background-image: url(/bg5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    border-radius: 30px;
}

.parent {
    height: 440px;
    width: 340px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(203, 83, 173, 0.641);
    color: white;
    row-gap: 30px;
    border: solid white 1px;
    border-radius: 20px;

}

.child2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    padding: 5px;
}

.srtbtn {
    height: 45px;
    width: 120px;
    font-size: large;
    font-weight: 600;
    letter-spacing: 1.5px;
    outline: none;
    color: white;
    border: solid white 2px;
    background-color: rgb(51, 179, 202);
    border-radius: 13px;
    cursor: pointer;
}